@import '../../app/styles/variables.scss';

.rateContainer {
  display: flex;
  margin-bottom: 24px;
}

.star {
  transition: opacity 0.2s;

  path {
    fill: #f1b063;
  }

  &.filled {
    opacity: 1;
  }

  &.notFilled {
    path {
      fill: #a3a3a3;
    }
  }
}
